<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Soy Darwin</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse non debitis similique id placeat repellendus officia pariatur repudiandae dolore consectetur, itaque omnis reiciendis nihil, consequatur blanditiis adipisci possimus fugiat ducimus?</p>
        </div>
        <div class="col4">
            <img src="/assets/img/potter.jpg" class="img-thumbnail" width="100px" height="100px">
        </div>
    </div>
    {{> footer}}
</body>
</html>